<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <header id="header"></header>

    <article><%- include('./pages/' + page); %></article>

    <main id="app"></main>

    <footer><%- include('./partials/footer'); %></footer>
  </body>
</html>
